<a class="edit" href="" title="<%= I18n.t('pageflow.internal_links.editor.templates.embedded.grid_page_link.edit') %>"></a>
<a class="set" href="" title="<%= I18n.t('pageflow.internal_links.editor.templates.embedded.grid_page_link.set') %>"></a>
<div class="placeholder"></div>
<span class="title"></span>
