<a class="remove" href="" title="<%= I18n.t('pageflow.editor.templates.embedded.page_link.reset') %>"></a>
<a class="set" href="" title="<%= I18n.t('pageflow.editor.templates.embedded.page_link.set') %>"></a>

<a class="page_link" href="#">
  <div class="thumbnail"></div>

  <div class="details">
    <p class="title"></p>
    <p class="description"></p>
  </div>
</a>
