<a class="edit" href="" title="<%= I18n.t('pageflow.internal_links.editor.templates.list_item_embedded.edit') %>"></a>

<a class="page_link" href="#">
  <div class="details">
    <p class="page_description"></p>
  </div>
</a>
