<a class="reset" href="" title="<%= I18n.t('pageflow.editor.templates.embedded.page_link.reset') %>"></a>
<a class="set" href="" title="<%= I18n.t('pageflow.editor.templates.embedded.page_link.set') %>"></a>
<div class="placeholder"></div>
<span class="title"></span>
