<li>
  <%= link_to("#", class: page_link.css_class, data: page_link.data_attributes) do %>
    <%= content_tag(:div,
                    '',
                    class: ['page_thumbnail',
                            file_thumbnail_css_class(page_link.thumbnail_file, :link_thumbnail_large)].compact * ' ') %>
    <div class="details">
      <p class="page_description">
        <%= raw(strip_links(page_link.description)) %>
      </p>
    </div>
  <% end %>
</li>
